
<h4>View Paper Reviews</h4>
 <%= form_tag(reviews_path, :method => "get", :remote => true, class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search],  placeholder: "Search Reviews based on Paper Title", class: "span6" %>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
<div id="reviews_list">
<%= render :partial => "reviews" %>
</div>
<% end %>

